/*General*/

.container-large {
    width: 85%;
    margin: 0 auto;
}
#resume {
    margin: 15px 0 0;
}

/* Spinner */
.overlap {
    position: absolute;
    z-index: 99;
    background-color: rgba(255,255,255,.5);
    width: 100%;
    height: 100%;
}
.overlap .preloader-wrapper{
    position: absolute;
    right: 50%;
    left: 50%;
    top: 50%;
    bottom: 50%;
}


	/* Slides
	* --------------------------------------- */
	.fp-tableCell {
	    vertical-align: top;
	}


	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
/* 		position:fixed; */
		z-index:9;
	}
	
	body {
  background-image: url('http://www.siwallpaperhd.com/wp-content/uploads/2015/07/nature_1080p_background.jpg');
}

.opacity {
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.3;
  z-index: -10;
  font-size: 32px;
}

.opacity-1 {
  background: #26A65B;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: .7;
}

	footer {
	    height: 60px;
	    width: 100%;
	    background-color: #77943E;
        justify-content: center;
        -webkit-justify-content: center;
        font-size: 12px;
	}
	
	img.logo {
	  max-height: 60px;
	  margin: 2px 10px;
	}

	 .spacer{
	 	width: 100%;
	 	height: 50px;
	 }
	 
	 ul#resume {
	    text-align: left;
	}
	
	
	/* Collection Scenario.
	* --------------------------------------- */
	.collection span.title {
		font-weight: 500;
	}
	.collection li p {
	    max-width: 95%;
	}
	.disabledOver::before{
	    content: "";
	    background-color: rgba(0,0,0,.1);
	    z-index: 99;
	    display: block;
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	}
	
	
	.col.cockpitBox {
	    padding: 10px;
	}
	
	#multiCockpit .cockpitBox {
	    margin-top: 54px;
	}
	
	.collapsible-header {
	    justify-content: space-between;
	    webkit-justify-content: space-between;
	}

	
	/* CHIPS 
	* --------------------------------------- */
	
	.chip i {
	    margin: 0 8px 0 -12px;
	    height: 32px;
	    width: 32px;
	    border-radius: 50%;
	    line-height: 32px;
	}
	

	/* TABS 
	* --------------------------------------- */	
	.tabContainer {
	    margin-top: 6px;
	}

